.title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 1.17;
  text-align: center;
  margin: 0 0 50px 0;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0;
}
.title:hover {
  letter-spacing: 4px;
}
